/* Practice CustomFonts Style Sheet */


.websafe {
    font-family: Arial, Helvetica, sans-serif;
}
.google {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Try 200, 300, 400, etc., based on your needs */
}
