/*Courtney Reiber*/
/*March 4, 2025*/


#outerwrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

body
{
	background-color: #B8D1EB;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
}

main
{
background-color: #C5A98B;
padding: 10px;
clear: both;
}

.floatleft { 
float: left;
margin-right:3%; /*Push the content away from the image by adding a right margin of 3% */

}

.floatright {
float: right;
margin-left: 3%; /*Push the content away from the image by adding a left margin of 3% */
}

footer 
{ 
clear: both;
font-size: 0.75em; 
text-align: center;
background-color: #7A9E7E; 
padding: 10px 0;
}

nav ul
{
list-style-type: none;
}

h1 
{
font-family: Arial, sans-serif;
font-size: 32px;
}

h2 
{
font-family: Arial, sans-serif; 
font-weight: normal; 
font-style: italic; 
font-size: 24px; 
}
main ul{
list-style-image: url("../images/tomato.png"); 
}